@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datails Contacts";
}
@using TpListContactClassAdoNET.Classes
@model Contact

<div class="Vigette">
     <div class="Vignette">
        <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>Détail du contact n°@Model.Id</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4>Nom : @Model.Lastname</h4>
                </div>
                <div class="col-6">
                    <h4>Prénom : @Model.Firstname</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                   <h5>Email : @Model.Email</h5>
                </div>
                <div class="col-6">
                    <h5>Téléphone : @Model.PhoneNumber</h5>
                </div>
            </div>
            <h2>Adresse</h2>
            <div class="row">
                <div class="col-2">
                    N° : @Model.ContactAddress.Number
                </div>
                 <div class="col-10">
                    Road Name : @Model.ContactAddress.RoadName
                </div>
            </div>    
            <div class="row">
                <div class="col-4">
                    PostalCode : @Model.ContactAddress.PostalCode
                </div>
                 <div class="col-8">
                    City : @Model.ContactAddress.Town
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    Country : @Model.ContactAddress.Country
                </div>                 
            </div>    
        </div>
        <div class="offset-3 col-3 ">
             <div class="align-item-center">
               <img src="~/@Model.Url" class="detailImg"/>
            </div>
        </div>
    </div>
   </div>
    <div class="row">
        <a asp-controller="Contact" asp-action="Index" class="btn btn-secondary col">Retour à l'accueil</a>
    </div>
</div>